.icon-tank{width:84px;height:24px;}
.icon-tank-Ch01_Type59{background-position:-84px -0px;}
.icon-tank-Ch02_Type62{background-position:-168px -0px;}
.icon-tank-Ch03_WZ-111{background-position:-252px -0px;}
.icon-tank-Ch04_T34_1{background-position:-336px -0px;}
.icon-tank-Ch05_T34_2{background-position:-420px -0px;}
.icon-tank-Ch06_Renault_NC31{background-position:-504px -0px;}
.icon-tank-Ch07_Vickers_MkE_Type_BT26{background-position:-588px -0px;}
.icon-tank-Ch08_Type97_Chi_Ha{background-position:-672px -0px;}
.icon-tank-Ch09_M5{background-position:-756px -0px;}
.icon-tank-Ch10_IS2{background-position:-840px -0px;}
.icon-tank-Ch11_110{background-position:-0px -24px;}
.icon-tank-Ch12_111_1_2_3{background-position:-84px -24px;}
.icon-tank-Ch14_T34_3{background-position:-168px -24px;}
.icon-tank-Ch15_59_16{background-position:-252px -24px;}
.icon-tank-Ch16_WZ_131{background-position:-336px -24px;}
.icon-tank-Ch17_WZ131_1_WZ132{background-position:-420px -24px;}
.icon-tank-Ch18_WZ-120{background-position:-504px -24px;}
.icon-tank-Ch19_121{background-position:-588px -24px;}
.icon-tank-Ch20_Type58{background-position:-672px -24px;}
.icon-tank-Ch21_T34{background-position:-756px -24px;}
.icon-tank-Ch22_113{background-position:-840px -24px;}
.icon-tank-Ch23_112{background-position:-0px -48px;}
.icon-tank-AMX38{background-position:-84px -48px;}
.icon-tank-AMX40{background-position:-168px -48px;}
.icon-tank-AMX50_Foch{background-position:-252px -48px;}
.icon-tank-AMX_105AM{background-position:-336px -48px;}
.icon-tank-AMX_12t{background-position:-420px -48px;}
.icon-tank-AMX_13F3AM{background-position:-504px -48px;}
.icon-tank-AMX_13_75{background-position:-588px -48px;}
.icon-tank-AMX_13_90{background-position:-672px -48px;}
.icon-tank-AMX_50Fosh_155{background-position:-756px -48px;}
.icon-tank-AMX_50_100{background-position:-840px -48px;}
.icon-tank-AMX_50_120{background-position:-0px -72px;}
.icon-tank-AMX_AC_Mle1946{background-position:-84px -72px;}
.icon-tank-AMX_AC_Mle1948{background-position:-168px -72px;}
.icon-tank-AMX_M4_1945{background-position:-252px -72px;}
.icon-tank-AMX_Ob_Am105{background-position:-336px -72px;}
.icon-tank-ARL_44{background-position:-420px -72px;}
.icon-tank-ARL_V39{background-position:-504px -72px;}
.icon-tank-B1{background-position:-588px -72px;}
.icon-tank-BDR_G1B{background-position:-672px -72px;}
.icon-tank-Bat_Chatillon155_55{background-position:-756px -72px;}
.icon-tank-Bat_Chatillon155_58{background-position:-840px -72px;}
.icon-tank-Bat_Chatillon25t{background-position:-0px -96px;}
.icon-tank-D1{background-position:-84px -96px;}
.icon-tank-D2{background-position:-168px -96px;}
.icon-tank-ELC_AMX{background-position:-252px -96px;}
.icon-tank-F10_AMX_50B{background-position:-336px -96px;}
.icon-tank-FCM_36Pak40{background-position:-420px -96px;}
.icon-tank-FCM_50t{background-position:-504px -96px;}
.icon-tank-Hotchkiss_H35{background-position:-588px -96px;}
.icon-tank-Lorraine155_50{background-position:-672px -96px;}
.icon-tank-Lorraine155_51{background-position:-756px -96px;}
.icon-tank-Lorraine39_L_AM{background-position:-840px -96px;}
.icon-tank-Lorraine40t{background-position:-0px -120px;}
.icon-tank-RenaultBS{background-position:-84px -120px;}
.icon-tank-RenaultFT{background-position:-168px -120px;}
.icon-tank-RenaultFT_AC{background-position:-252px -120px;}
.icon-tank-RenaultUE57{background-position:-336px -120px;}
.icon-tank-S_35CA{background-position:-420px -120px;}
.icon-tank-Somua_Sau_40{background-position:-504px -120px;}
.icon-tank-_105_leFH18B2{background-position:-588px -120px;}
.icon-tank-Auf_Panther{background-position:-672px -120px;}
.icon-tank-B-1bis_captured{background-position:-756px -120px;}
.icon-tank-Bison_I{background-position:-840px -120px;}
.icon-tank-DW_II{background-position:-0px -144px;}
.icon-tank-DickerMax{background-position:-84px -144px;}
.icon-tank-E-100{background-position:-168px -144px;}
.icon-tank-E-25{background-position:-252px -144px;}
.icon-tank-E-50{background-position:-336px -144px;}
.icon-tank-E-75{background-position:-420px -144px;}
.icon-tank-E50_Ausf_M{background-position:-504px -144px;}
.icon-tank-Ferdinand{background-position:-588px -144px;}
.icon-tank-G20_Marder_II{background-position:-672px -144px;}
.icon-tank-GW_Mk_VIe{background-position:-756px -144px;}
.icon-tank-GW_Tiger_P{background-position:-840px -144px;}
.icon-tank-G_E{background-position:-0px -168px;}
.icon-tank-G_Panther{background-position:-84px -168px;}
.icon-tank-G_Tiger{background-position:-168px -168px;}
.icon-tank-Grille{background-position:-252px -168px;}
.icon-tank-H39_captured{background-position:-336px -168px;}
.icon-tank-Hetzer{background-position:-420px -168px;}
.icon-tank-Hummel{background-position:-504px -168px;}
.icon-tank-Indien_Panzer{background-position:-588px -168px;}
.icon-tank-JagdPanther{background-position:-672px -168px;}
.icon-tank-JagdPantherII{background-position:-756px -168px;}
.icon-tank-JagdPzIV{background-position:-840px -168px;}
.icon-tank-JagdPz_E100{background-position:-0px -192px;}
.icon-tank-JagdTiger{background-position:-84px -192px;}
.icon-tank-JagdTiger_SdKfz_185{background-position:-168px -192px;}
.icon-tank-Leopard1{background-position:-252px -192px;}
.icon-tank-Lowe{background-position:-336px -192px;}
.icon-tank-Ltraktor{background-position:-420px -192px;}
.icon-tank-Marder_III{background-position:-504px -192px;}
.icon-tank-Maus{background-position:-588px -192px;}
.icon-tank-Nashorn{background-position:-672px -192px;}
.icon-tank-Panther_II{background-position:-756px -192px;}
.icon-tank-Panther_M10{background-position:-840px -192px;}
.icon-tank-PanzerJager_I{background-position:-0px -216px;}
.icon-tank-Pro_Ag_A{background-position:-84px -216px;}
.icon-tank-Pz35t{background-position:-168px -216px;}
.icon-tank-Pz38_NA{background-position:-252px -216px;}
.icon-tank-Pz38t{background-position:-336px -216px;}
.icon-tank-PzI{background-position:-420px -216px;}
.icon-tank-PzII{background-position:-504px -216px;}
.icon-tank-PzIII{background-position:-588px -216px;}
.icon-tank-PzIII_A{background-position:-672px -216px;}
.icon-tank-PzIII_IV{background-position:-756px -216px;}
.icon-tank-PzIII_training{background-position:-840px -216px;}
.icon-tank-PzII_J{background-position:-0px -240px;}
.icon-tank-PzII_Luchs{background-position:-84px -240px;}
.icon-tank-PzIV{background-position:-168px -240px;}
.icon-tank-PzIV_Hydro{background-position:-252px -240px;}
.icon-tank-PzIV_schmalturm{background-position:-336px -240px;}
.icon-tank-PzI_ausf_C{background-position:-420px -240px;}
.icon-tank-PzV{background-position:-504px -240px;}
.icon-tank-PzVI{background-position:-588px -240px;}
.icon-tank-PzVIB_Tiger_II{background-position:-672px -240px;}
.icon-tank-PzVIB_Tiger_II_training{background-position:-756px -240px;}
.icon-tank-PzVI_Tiger_P{background-position:-840px -240px;}
.icon-tank-PzV_PzIV{background-position:-0px -264px;}
.icon-tank-PzV_PzIV_ausf_Alfa{background-position:-84px -264px;}
.icon-tank-PzV_training{background-position:-168px -264px;}
.icon-tank-Pz_II_AusfG{background-position:-252px -264px;}
.icon-tank-Pz_IV_AusfGH{background-position:-336px -264px;}
.icon-tank-Pz_Sfl_IVb{background-position:-420px -264px;}
.icon-tank-Pz_Sfl_IVc{background-position:-504px -264px;}
.icon-tank-RhB_Waffentrager{background-position:-588px -264px;}
.icon-tank-S35_captured{background-position:-672px -264px;}
.icon-tank-StugIII{background-position:-756px -264px;}
.icon-tank-Sturer_Emil{background-position:-840px -264px;}
.icon-tank-Sturmpanzer_II{background-position:-0px -288px;}
.icon-tank-T-15{background-position:-84px -288px;}
.icon-tank-T-25{background-position:-168px -288px;}
.icon-tank-VK1602{background-position:-252px -288px;}
.icon-tank-VK2001DB{background-position:-336px -288px;}
.icon-tank-VK2801{background-position:-420px -288px;}
.icon-tank-VK3001H{background-position:-504px -288px;}
.icon-tank-VK3001P{background-position:-588px -288px;}
.icon-tank-VK3002DB{background-position:-672px -288px;}
.icon-tank-VK3002DB_V1{background-position:-756px -288px;}
.icon-tank-VK3002M{background-position:-840px -288px;}
.icon-tank-VK3601H{background-position:-0px -312px;}
.icon-tank-VK4502A{background-position:-84px -312px;}
.icon-tank-VK4502P{background-position:-168px -312px;}
.icon-tank-VK7201{background-position:-252px -312px;}
.icon-tank-Waffentrager_E100{background-position:-336px -312px;}
.icon-tank-Waffentrager_IV{background-position:-420px -312px;}
.icon-tank-Wespe{background-position:-504px -312px;}
.icon-tank-Chi_Ha{background-position:-588px -312px;}
.icon-tank-Chi_He{background-position:-672px -312px;}
.icon-tank-Chi_Ni{background-position:-756px -312px;}
.icon-tank-Chi_Nu{background-position:-840px -312px;}
.icon-tank-Chi_Nu_Kai{background-position:-0px -336px;}
.icon-tank-Chi_Ri{background-position:-84px -336px;}
.icon-tank-Chi_To{background-position:-168px -336px;}
.icon-tank-Ha_go{background-position:-252px -336px;}
.icon-tank-Ke_Ho{background-position:-336px -336px;}
.icon-tank-Ke_Ni{background-position:-420px -336px;}
.icon-tank-Ke_Ni_B{background-position:-504px -336px;}
.icon-tank-NC27{background-position:-588px -336px;}
.icon-tank-STA_1{background-position:-672px -336px;}
.icon-tank-ST_B1{background-position:-756px -336px;}
.icon-tank-Type_61{background-position:-840px -336px;}
.icon-tank-GB01_Medium_Mark_I{background-position:-0px -360px;}
.icon-tank-GB03_Cruiser_Mk_I{background-position:-84px -360px;}
.icon-tank-GB04_Valentine{background-position:-168px -360px;}
.icon-tank-GB05_Vickers_Medium_Mk_II{background-position:-252px -360px;}
.icon-tank-GB06_Vickers_Medium_Mk_III{background-position:-336px -360px;}
.icon-tank-GB07_Matilda{background-position:-420px -360px;}
.icon-tank-GB08_Churchill_I{background-position:-504px -360px;}
.icon-tank-GB10_Black_Prince{background-position:-588px -360px;}
.icon-tank-GB11_Caernarvon{background-position:-672px -360px;}
.icon-tank-GB12_Conqueror{background-position:-756px -360px;}
.icon-tank-GB13_FV215b{background-position:-840px -360px;}
.icon-tank-GB20_Crusader{background-position:-0px -384px;}
.icon-tank-GB21_Cromwell{background-position:-84px -384px;}
.icon-tank-GB22_Comet{background-position:-168px -384px;}
.icon-tank-GB23_Centurion{background-position:-252px -384px;}
.icon-tank-GB24_Centurion_Mk3{background-position:-336px -384px;}
.icon-tank-GB25_Loyd_Carrier{background-position:-420px -384px;}
.icon-tank-GB26_Birch_Gun{background-position:-504px -384px;}
.icon-tank-GB27_Sexton{background-position:-588px -384px;}
.icon-tank-GB28_Bishop{background-position:-672px -384px;}
.icon-tank-GB29_Crusader_5inch{background-position:-756px -384px;}
.icon-tank-GB30_FV3805{background-position:-840px -384px;}
.icon-tank-GB31_Conqueror_Gun{background-position:-0px -408px;}
.icon-tank-GB32_Tortoise{background-position:-84px -408px;}
.icon-tank-GB39_Universal_CarrierQF2{background-position:-168px -408px;}
.icon-tank-GB40_Gun_Carrier_Churchill{background-position:-252px -408px;}
.icon-tank-GB42_Valentine_AT{background-position:-336px -408px;}
.icon-tank-GB48_FV215b_183{background-position:-420px -408px;}
.icon-tank-GB51_Excelsior{background-position:-504px -408px;}
.icon-tank-GB57_Alecto{background-position:-588px -408px;}
.icon-tank-GB58_Cruiser_Mk_III{background-position:-672px -408px;}
.icon-tank-GB59_Cruiser_Mk_IV{background-position:-756px -408px;}
.icon-tank-GB60_Covenanter{background-position:-840px -408px;}
.icon-tank-GB63_TOG_II{background-position:-0px -432px;}
.icon-tank-GB68_Matilda_Black_Prince{background-position:-84px -432px;}
.icon-tank-GB69_Cruiser_Mk_II{background-position:-168px -432px;}
.icon-tank-GB70_FV4202_105{background-position:-252px -432px;}
.icon-tank-GB71_AT_15A{background-position:-336px -432px;}
.icon-tank-GB72_AT15{background-position:-420px -432px;}
.icon-tank-GB73_AT2{background-position:-504px -432px;}
.icon-tank-GB74_AT8{background-position:-588px -432px;}
.icon-tank-GB75_AT7{background-position:-672px -432px;}
.icon-tank-GB76_Mk_VIC{background-position:-756px -432px;}
.icon-tank-GB77_FV304{background-position:-840px -432px;}
.icon-tank-GB78_Sexton_I{background-position:-0px -456px;}
.icon-tank-GB79_FV206{background-position:-84px -456px;}
.icon-tank-M103{background-position:-168px -456px;}
.icon-tank-M10_Wolverine{background-position:-252px -456px;}
.icon-tank-M12{background-position:-336px -456px;}
.icon-tank-M18_Hellcat{background-position:-420px -456px;}
.icon-tank-M22_Locust{background-position:-504px -456px;}
.icon-tank-M24_Chaffee{background-position:-588px -456px;}
.icon-tank-M2_lt{background-position:-672px -456px;}
.icon-tank-M2_med{background-position:-756px -456px;}
.icon-tank-M36_Slagger{background-position:-840px -456px;}
.icon-tank-M37{background-position:-0px -480px;}
.icon-tank-M3_Grant{background-position:-84px -480px;}
.icon-tank-M3_Stuart{background-position:-168px -480px;}
.icon-tank-M40M43{background-position:-252px -480px;}
.icon-tank-M41{background-position:-336px -480px;}
.icon-tank-M44{background-position:-420px -480px;}
.icon-tank-M46_Patton{background-position:-504px -480px;}
.icon-tank-M48A1{background-position:-588px -480px;}
.icon-tank-M4A2E4{background-position:-672px -480px;}
.icon-tank-M4A3E8_Sherman{background-position:-756px -480px;}
.icon-tank-M4_Sherman{background-position:-840px -480px;}
.icon-tank-M53_55{background-position:-0px -504px;}
.icon-tank-M5_Stuart{background-position:-84px -504px;}
.icon-tank-M6{background-position:-168px -504px;}
.icon-tank-M60{background-position:-252px -504px;}
.icon-tank-M6A2E1{background-position:-336px -504px;}
.icon-tank-M7_Priest{background-position:-420px -504px;}
.icon-tank-M7_med{background-position:-504px -504px;}
.icon-tank-M8A1{background-position:-588px -504px;}
.icon-tank-MTLS-1G14{background-position:-672px -504px;}
.icon-tank-Pershing{background-position:-756px -504px;}
.icon-tank-Ram-II{background-position:-840px -504px;}
.icon-tank-Sherman_Jumbo{background-position:-0px -528px;}
.icon-tank-T110{background-position:-84px -528px;}
.icon-tank-T110E3{background-position:-168px -528px;}
.icon-tank-T110E4{background-position:-252px -528px;}
.icon-tank-T14{background-position:-336px -528px;}
.icon-tank-T18{background-position:-420px -528px;}
.icon-tank-T1_Cunningham{background-position:-504px -528px;}
.icon-tank-T1_E6{background-position:-588px -528px;}
.icon-tank-T1_hvy{background-position:-672px -528px;}
.icon-tank-T20{background-position:-756px -528px;}
.icon-tank-T21{background-position:-840px -528px;}
.icon-tank-T25_2{background-position:-0px -552px;}
.icon-tank-T25_AT{background-position:-84px -552px;}
.icon-tank-T26_E4_SuperPershing{background-position:-168px -552px;}
.icon-tank-T28{background-position:-252px -552px;}
.icon-tank-T28_Prototype{background-position:-336px -552px;}
.icon-tank-T29{background-position:-420px -552px;}
.icon-tank-T2_lt{background-position:-504px -552px;}
.icon-tank-T2_med{background-position:-588px -552px;}
.icon-tank-T30{background-position:-672px -552px;}
.icon-tank-T32{background-position:-756px -552px;}
.icon-tank-T34_hvy{background-position:-840px -552px;}
.icon-tank-T40{background-position:-0px -576px;}
.icon-tank-T49{background-position:-84px -576px;}
.icon-tank-T54E1{background-position:-168px -576px;}
.icon-tank-T57{background-position:-252px -576px;}
.icon-tank-T57_58{background-position:-336px -576px;}
.icon-tank-T69{background-position:-420px -576px;}
.icon-tank-T71{background-position:-504px -576px;}
.icon-tank-T7_Combat_Car{background-position:-588px -576px;}
.icon-tank-T82{background-position:-672px -576px;}
.icon-tank-T92{background-position:-756px -576px;}
.icon-tank-T95{background-position:-840px -576px;}
.icon-tank-62A{background-position:-0px -600px;}
.icon-tank-A-20{background-position:-84px -600px;}
.icon-tank-A-32{background-position:-168px -600px;}
.icon-tank-A43{background-position:-252px -600px;}
.icon-tank-A44{background-position:-336px -600px;}
.icon-tank-AT-1{background-position:-420px -600px;}
.icon-tank-BT-2{background-position:-504px -600px;}
.icon-tank-BT-7{background-position:-588px -600px;}
.icon-tank-BT-SV{background-position:-672px -600px;}
.icon-tank-Churchill_LL{background-position:-756px -600px;}
.icon-tank-GAZ-74b{background-position:-840px -600px;}
.icon-tank-IS-3{background-position:-0px -624px;}
.icon-tank-IS-4{background-position:-84px -624px;}
.icon-tank-IS-7{background-position:-168px -624px;}
.icon-tank-IS{background-position:-252px -624px;}
.icon-tank-IS8{background-position:-336px -624px;}
.icon-tank-ISU-152{background-position:-420px -624px;}
.icon-tank-KV-13{background-position:-504px -624px;}
.icon-tank-KV-1s{background-position:-588px -624px;}
.icon-tank-KV-220{background-position:-672px -624px;}
.icon-tank-KV-220_action{background-position:-756px -624px;}
.icon-tank-KV-3{background-position:-840px -624px;}
.icon-tank-KV-5{background-position:-0px -648px;}
.icon-tank-KV{background-position:-84px -648px;}
.icon-tank-KV1{background-position:-168px -648px;}
.icon-tank-KV2{background-position:-252px -648px;}
.icon-tank-KV4{background-position:-336px -648px;}
.icon-tank-LTP{background-position:-420px -648px;}
.icon-tank-M3_Stuart_LL{background-position:-504px -648px;}
.icon-tank-MS-1{background-position:-588px -648px;}
.icon-tank-MT25{background-position:-672px -648px;}
.icon-tank-Matilda_II_LL{background-position:-756px -648px;}
.icon-tank-Object252{background-position:-840px -648px;}
.icon-tank-Object263{background-position:-0px -672px;}
.icon-tank-Object268{background-position:-84px -672px;}
.icon-tank-Object416{background-position:-168px -672px;}
.icon-tank-Object_140{background-position:-252px -672px;}
.icon-tank-Object_212{background-position:-336px -672px;}
.icon-tank-Object_261{background-position:-420px -672px;}
.icon-tank-Object_430{background-position:-504px -672px;}
.icon-tank-Object_704{background-position:-588px -672px;}
.icon-tank-Object_907{background-position:-672px -672px;}
.icon-tank-Observer{background-position:-756px -672px;}
.icon-tank-R104_Object_430_II{background-position:-840px -672px;}
.icon-tank-R80_KV1{background-position:-0px -696px;}
.icon-tank-S-51{background-position:-84px -696px;}
.icon-tank-ST_I{background-position:-168px -696px;}
.icon-tank-SU-100{background-position:-252px -696px;}
.icon-tank-SU-101{background-position:-336px -696px;}
.icon-tank-SU-14{background-position:-420px -696px;}
.icon-tank-SU-152{background-position:-504px -696px;}
.icon-tank-SU-18{background-position:-588px -696px;}
.icon-tank-SU-26{background-position:-672px -696px;}
.icon-tank-SU-5{background-position:-756px -696px;}
.icon-tank-SU-76{background-position:-840px -696px;}
.icon-tank-SU-8{background-position:-0px -720px;}
.icon-tank-SU-85{background-position:-84px -720px;}
.icon-tank-SU100M1{background-position:-168px -720px;}
.icon-tank-SU100Y{background-position:-252px -720px;}
.icon-tank-SU101{background-position:-336px -720px;}
.icon-tank-SU122A{background-position:-420px -720px;}
.icon-tank-SU122_44{background-position:-504px -720px;}
.icon-tank-SU122_54{background-position:-588px -720px;}
.icon-tank-SU14_1{background-position:-672px -720px;}
.icon-tank-SU76I{background-position:-756px -720px;}
.icon-tank-SU_85I{background-position:-840px -720px;}
.icon-tank-T-127{background-position:-0px -744px;}
.icon-tank-T-26{background-position:-84px -744px;}
.icon-tank-T-28{background-position:-168px -744px;}
.icon-tank-T-34-85{background-position:-252px -744px;}
.icon-tank-T-34{background-position:-336px -744px;}
.icon-tank-T-43{background-position:-420px -744px;}
.icon-tank-T-44{background-position:-504px -744px;}
.icon-tank-T-46{background-position:-588px -744px;}
.icon-tank-T-50{background-position:-672px -744px;}
.icon-tank-T-54{background-position:-756px -744px;}
.icon-tank-T-60{background-position:-840px -744px;}
.icon-tank-T-70{background-position:-0px -768px;}
.icon-tank-T150{background-position:-84px -768px;}
.icon-tank-T44_122{background-position:-168px -768px;}
.icon-tank-T44_85{background-position:-252px -768px;}
.icon-tank-T62A{background-position:-336px -768px;}
.icon-tank-T80{background-position:-420px -768px;}
.icon-tank-T_50_2{background-position:-504px -768px;}
.icon-tank-Tetrarch_LL{background-position:-588px -768px;}
.icon-tank-Valentine_LL{background-position:-672px -768px;}
