<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    {{#link-to 'index' class='navbar-brand'}}{{trans 'app.brand' 'dosser'}}{{/link-to}}
</nav>

<div class="main-content">
    {{view App.AlertView type="danger"  message=App.error}}
    {{view App.AlertView type="success" message=App.success timeout=4000}}
    {{outlet}}
</div>