<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    {{#link-to 'index' class='navbar-brand'}}{{trans 'app.brand' 'dosser'}}{{/link-to}}

    <ul class="nav navbar-nav">
        <li>{{#link-to 'index'}}Главная{{/link-to}}</li>
    </ul>
</nav>

<div class="main-content">
    {{view App.AlertView type="danger"  message=error}}
    {{view App.AlertView type="success" message=success timeout=4000}}
    {{outlet}}
</div>