<h1>{{trans 'app.welcome.header'}}</h1>
<p>{{trans 'app.welcome.body'}}</p>

<div class="dossier-upload">
{{#upload-button action="showDossier" classNames="btn btn-primary btn-lg dossier-upload-btn"}}{{trans 'app.dossier.upload'}}{{/upload-button}}
</div>