<div class="page-help">
    <section class="question">
        <header>
            <h4>1. Что такое "досье"?</h4>
        </header>

        <article>
            <p>
                Досье или <strong>dossier cache</strong> &mdash; это файл, в котором хранится статистика
                игрока по всем танкам и по всем типам боя. Каждый раз, когда игрок заканчивает бой,
                его досье сохраняется на диск. Имя файла зависит от имени игрока и от сервера, на котором
                он играл, поэтому на одном компьютере может храниться несколько файлов досье.
            </p>
        </article>
    </section>

    <section class="question">
        <header>
            <h4>2. Где мне найти свое досье?</h4>
        </header>

        <article>
            <p>
                Файлы досье хранятся в одинаковой для всех папке:
                <code>%AppData%\wargaming.net\WorldOfTanks\dossier_cache</code>.
                Достаточно загрузить файл, который был создан позже всех, чтобы
                просмотреть свежие данные.
            </p>
        </article>
    </section>

    <section class="question">
        <header>
            <h4>3. Что такое "рейтинг эффективности"?</h4>
        </header>

        <article>
            <p>
                <em>Рейтинг эффективности</em> (<em>КПД</em>) &mdash; это число, которое отражает
                мастерство игры в <strong>World Of Tanks</strong>. Рядом с числовым рейтингом
                отображается иконка, цвет которой соответствует уровню игрока:
            </p>

            <ul class="unstyled">
                <li><span class="color-scale bad"></span> &mdash; плохой игрок;</li>
                <li><span class="color-scale below-average"></span> &mdash; игрок ниже среднего;</li>
                <li><span class="color-scale average"></span> &mdash; средний игрок;</li>
                <li><span class="color-scale good"></span> &mdash; хороший игрок;</li>
                <li><span class="color-scale great"></span> &mdash; отличный игрок;</li>
                <li><span class="color-scale unicum"></span> &mdash; великолепный игрок.</li>
            </ul>

            <p>
                Здесь рейтинг отображается не только для игрока в целом, но и для
                каждого танка в отдельности.
            </p>

            <p>
                Обрати внимание, что рейтинг мало информативен, если на танке меньше 50 боев.
                Для общей статистики рейтинг показателен, когда сыграно хотя бы 3 000 боев.
            </p>
        </article>
    </section>
</div>