<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <a href="#/" class="navbar-brand">{{trans 'app.brand' 'dosser'}}</a>

    <ul class="nav navbar-nav">
        {{#link-to 'index' tagName='li'}}
            <a href="#/">Главная</a>
        {{/link-to}}

        {{#link-to 'help' tagName='li'}}
            <a href="#/?">Помощь</a>
        {{/link-to}}
    </ul>
</nav>

<div class="main-content">
    {{view App.AlertView type="danger"  message=error}}
    {{view App.AlertView type="success" message=success timeout=4000}}
    {{outlet}}
</div>