<div class="promo">
    <div class="row">
        <div class="col-md-6">
            <h3>Статистика по всем танкам</h3>
            <p>Статистика показывается как общая, так и по каждому танку в отдельности.</p>
            <p>
                <span class="icon-tank icon-tank-KV1"></span>
                <span class="icon-tank icon-tank-IS-3"></span>
                <span class="icon-tank icon-tank-IS-7"></span>
            </p>
        </div>
    
        <div class="col-md-6">
            <h3>Рейтинг эффективности</h3>
            <p>Для каждого танка и для общей статистики отображается твой КПД.</p>
            <p>
                <span class="color-scale bad"></span>
                <span class="color-scale below-average"></span>
                <span class="color-scale average"></span>
                <span class="color-scale good"></span>
                <span class="color-scale great"></span>
                <span class="color-scale unicum"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Сравнение игроков</h3>
            <p>Ты можешь сравнить свои показатели со своим другом по танкам, на которых вы оба играли.</p>
        </div>

        <div class="col-md-6">
            <h3>Статистика по типам боя</h3>
            <p>
                Можно смотреть статистику для рандомных, коммандных, ротных боев,
                а также для боев на глобальной карте.
            </p>
        </div>
    </div>
</div>