@import "bootstrap/variables_customized.less";
@import "mixins.less";

body {
    padding-top: @navbar-height + 5px;
}

.main-content-narrow {
    .center-block();
    width: @screen-md;
    padding: 0 15px;

    text-align: center;
}

.dossier-file {
    display: inline !important;
}

.app {
    &-loading {
        background: url("../img/ajax-loader.gif") center center no-repeat;
        height: 31px;
        width: 31px;

        top: @navbar-height + 5px;
        left: 5px;

        position: absolute;
    }

    &-error {
        display: none;
    }

}

.upload-btn {
    position: relative;
    overflow: hidden;

    input {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        .opacity(0);
    }

    &.btn-lg input {
        @height: @font-size-large * @line-height-large + @padding-large-vertical * 2;
        line-height: @height;
        height: @height;
    }
}

.dossier {

    &-refresh {
        color: @gray-light;
        font-size: 60%;
        padding: 0 3px;
        line-height: 1;

        &.is-sending .glyphicon {
            display: inline-block;
                    animation: loading 1s ease-in-out infinite;
            -webkit-animation: loading 1s ease-in-out infinite;
        }

        input {
            line-height: 1;
        }
    }

    &-details {
    
        font-size: @font-size-small;    
    
        dt, dd {
            display: inline;
        }
    }

    &-table {

        th { 
            text-align: center;
        }

        .item {

            &.is-muted {
                .opacity(0.5);

                &:hover {
                    .opacity(1);
                }
            }

            &.is-totals {
                font-weight: bold;
            }
        }

        .col-tier {
            width: 50px;
        }

        .col-title {
            text-align: left;
        }
    }

    &-upload-btn.is-sending:before {
        display: inline-block;
        content: '\e031';
        font-family: 'Glyphicons Halflings';
        margin-right: 5px;

                animation: loading 1s ease-in-out infinite;
        -webkit-animation: loading 1s ease-in-out infinite;
    }
}

@keyframes loading
{
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

@-webkit-keyframes loading /* Safari and Chrome */
{
    from { -webkit-transform: rotate(0deg); }
    to   { -webkit-transform: rotate(360deg); }
}

.color-scale {
    position: relative;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);

    &:before { content: '\e008'; }

    &.bad { color: #fe0e00; }
    &.below-average { color: #fe7903; }
    &.average { color: #f8f403; }
    &.good { color: #60ff00; }
    &.great { color: #02c9b3; }
    &.unicum { color: #d042f3; }
}